@import "bourbon";
@import "neat";
@import "bitters/base";
@import "variables";
@import "routes/index";
@import "ember-power-select";

body {
  margin: 0;
  background-color: #edf4ec;
  color: $text-blue;
}
header {
  @include fill-parent();
}
a {
  border-bottom: 1px dotted $light-gray;
}
a:focus {
}
h2 small {
  font-size: 0.5em;
}
h4 {
  margin-bottom: 0;
}
.brand-logo {
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
@media (min-width: $large-screen){
  .brand-logo {
    display: block;
    float: left;
    height: 150px;
    margin: 0;
    width: 150px;
  }
}
.container {
  @include outer-container;
} 

.title {
  display: block;
  clear: both;
  min-height: 4.5rem;
  margin: 0 auto;
  @media screen and (min-width: $medium-screen){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .brand-logo {
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    @media screen and (min-width: $medium-screen){ 
      height: 200px;
      margin: 0;
      width: 200px;
    }

  }

  h1 {
    display: block;
    letter-spacing: 1px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: $text-blue;
    @media screen and (min-width: $medium-screen){
      margin: 0 0.5em;
      font-size: modular-scale(4);      
    }
  }
}

.navigation {
  @include span-columns(12);
  @include media(769px) {
    @include span-columns(2);
  }
  margin: 0 auto;
  padding-top: $narrow-padding;
  li {
    display: inline-block;
    @media screen and (min-width: 768px){
      display: block;
      border-bottom: 1px solid white;
      font-size: 0.75em;
      letter-spacing: 2px;
      line-height: 3;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  li {
    a {
      display: block;
      padding: $narrow-padding;
      background-color: transparent;
      &:hover{
        color: darken($text-blue, 10%);
        background-color: $light-green;
      }
    }

    .nav-heading {
      margin-top: 1em;
      color: $grey;
      display: none;
      @media screen and (min-width: 768px){
        display: block;
      }
    }

    a {
      color: $text-blue;
      border-bottom-color:transparent;

      &:hover {
        border-bottom-color: transparent;
        color: darken($text-blue, 10%);

      }

      &.active {
        font-weight: bold;
      }
    }
  }
}

.content {
    @include span-columns(12);
  @include media(769px) {
    @include span-columns(10);
  }
  padding: $regular-padding;
  padding-top: 2.5em;

  p {
    margin-bottom: $regular-padding;
  }

  h2 {
    margin-bottom: $narrow-padding;
  }
}

.example {
  @include outer-container;
  margin: 2em 0;

  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 1em;
  }

  .source {
    @include span-columns(12);
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border: 1px solid $text-blue;
    border-radius: 4px;
    position: relative;
    padding: 43px 15px 15px;
    
    &:after {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 12px;
        font-weight: 700;
        color: $text-blue;
        text-transform: uppercase;
        letter-spacing: 1px;
        content: "Example";
    }
  }
  .output {
    @include span-columns(12);
    margin-bottom: 1em;
  }
}
.section-title {
  margin: 1.6em 0 0.5em 0;
  border-bottom: 1px solid $light-gray;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $text-blue;
}
footer {
  border-top: 1px solid $light-gray;
  padding: 1rem;
  text-align: center;

}
article.aria-roles {
  display: flex;
  flex-flow: row wrap;
}
  h4, h5 {
    flex: 1;
    align-item: stretch;
    min-width: 100%;
    margin-bottom: 0.5em;
  }
.demo-div {
  flex: 1 1 1;
  min-width: 300px;
  min-height: 100px;
  padding: 0.25em;
  border: 1px solid $light-gray;
  margin: 0 0 1em 0.5em;
}
.demo-box {
  clear: both;
  display: block;
  max-width: 300px;
  min-height: 300px;
  text-align: center;
}
.vr {
  margin: 0 0.5em;
}

pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre {
  display: block;
  padding: 0.5em;
  margin: 0 0 10px;
  font-size: 0.9em;
  line-height: 1.2;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.ivy-tabs {
  .ivy-tab-list {
    .ivy-tab {
      background-color: white;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-top: 3px solid $light-green-hover;
      border-left: 3px solid $light-green-hover;
      border-right: 3px solid $light-green-hover;
      display: inline-block;
      min-width: 120px;
      padding: 1em;
      text-align: center;
      &.active{
        background-color: $light-green-hover;
        text-color: white;
        font-weight: bold;

      }
    }
  }
  .ivy-tab-panel{
    min-height: 500px;
    padding: 1em;
    border: 3px solid $light-green-hover;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    &.active{
      background-color: white;
    }
  }
}
