@import "bourbon";
@import "neat";
@import "bitters/base";

@import "variables";

@import "routes/index";

body {
  margin: 0;
}
header {
  @include fill-parent();
  background-color: $light-green;
  color: $black;
}
.brand-logo {
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
@media (min-width: $large-screen){
  .brand-logo {
    display: block;
    float: left;
    height: 150px;
    margin: 0;
    width: 150px;
  }
}
.container {
  @include outer-container;
} 

.title {
  //padding: $regular-padding;
  display: block;
  clear: both;
  min-height: 4.5rem;
  margin: 0 auto;
  @media screen and (min-width: $medium-screen){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .brand-logo {
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    @media screen and (min-width: $medium-screen){ 
      height: 200px;
      margin: 0;
      width: 200px;
    }

  }

  h1 {
    display: block;
    letter-spacing: 1px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: $medium-screen){
      margin: 0 2em;
      font-size: modular-scale(3);
      
    }
  }
}

.navigation {
  @include span-columns(2);

  padding-top: $narrow-padding;

  li {
    a, .nav-heading {
      display: block;
      padding: $narrow-padding;
    }

    .nav-heading {
      margin-top: 1em;
      color: $grey;
    }

    a {
      color: $black;

      &:hover {
        background-color: $light-grey-hover;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}

.content {
  @include span-columns(10);
  padding: $regular-padding;
  padding-top: 2.5em;

  p {
    margin-bottom: $regular-padding;
  }

  h2 {
    margin-bottom: $regular-padding;
  }
}

.example {
  @include outer-container;
  margin: 2em 0;

  h4 {
    font-size: 1.1em;
  }

  .source {
    @include span-columns(6);
  }

  .output {
    @include span-columns(6);
  }
}
.section-title {
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid $light-gray;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer {
  background-color: $light-green;
  bottom: 0;
  color: $black;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;

}