@import "bourbon";
@import "neat";
@import "bitters/base";

@import "variables";

@import "routes/index";

body {
  margin: 0 1em;
}

.container {
  @include outer-container;
}

.title {
  @include fill-parent();
  background-color: $light-lime-green;
  padding: $regular-padding;

  h1 {
    margin: 0;
    margin-top: 3em;
  }
}

.navigation {
  @include span-columns(2);

  padding-top: $narrow-padding;

  li {
    a {
      color: $black;

      display: block;
      padding: $narrow-padding;

      &:hover {
        background-color: $light-grey-hover;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}

.content {
  @include span-columns(10);
  padding: $regular-padding;
}

.example {
  @include outer-container;
  margin: 2em 0;

  h4 {
    font-size: 1.1em;
  }

  .source {
    @include span-columns(6);
  }

  .output {
    @include span-columns(6);
  }
}
