$light-lime-green: #E8FFEB;
$light-lime-green-hover: #F2FFF4;
$light-grey-hover: #F7F7F7;
$black: #222;

$dark-teal: #00695C;
$dark-teal-hover: #004D40;
$medium-teal: #00897B;
$medium-teal-hover: #00796B;
$light-teal: #B2DFDB;
$light-teal-hover: #80CBC4;
$lightest-teal: #E0F2F1;


$regular-padding: 1em;
$narrow-padding: 0.5em;
