$light-green: #E6F6F6;
$light-green-hover: darken(#e6f6f6, 5);
$medium-green: darken(#83beac, 5);
$medium-green-hover: darken(#83beac, 10);
$light-grey-hover: #F7F7F7;
$black: #222;
$medium-gray: #4d4d4d;
$grey: #666;
$light-gray: #CCC;
$text-blue: #3b434e;



$regular-padding: 1em;
$narrow-padding: 0.5em;
