<h3 class="section-title">Input helper</h3>

<p>
  Ember's builtin helper for creating <code>input</code> DOM elements.
  Supports text fields and checkboxes.
</p>

<h4 class="section-title">Examples</h4>

<div class="example">
  <h5>Text field with a value</h5>
  <div class="output">
  <label>Demo Label: 
    <Input @value="987" />
    </label>
  </div>
  <div class="source">
    <pre>
    &lt;label&gt;Demo Label:
    \{{input value="987"}}
    &lt;&sol;label&gt;
    </pre>
  </div>
</div>

<div class="example">
  <h5>Checkbox (checked)</h5>
  <div class="output">
  <label>
    <Input @type="checkbox" @checked={{true}} /> Check!
    </label>
  </div>
  <div class="source">
    <pre>
    &lt;label&gt;
    \{{input type="checkbox" checked=true}}
    Check!
    &lt;&sol;label&gt;
    </pre>
  </div>
</div>


<h3 class="section-title">Links</h3>
<ul>
  <li>
    <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_input">
      Documentation
    </a>
  </li>
  <li>
    <a href="https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-htmlbars/lib/keywords/input.js#L8">
      Source code
    </a>
  </li>
</ul>


{{outlet}}
