<h3 class="section-title">Link-to helper</h3>

<p>
  Ember's builtin helper for creating links within an Ember app.
</p>

<h4>Examples</h4>

<div class="example">
  <h5>Link to another page</h5>
  <div class="output">
    {{#link-to 'examples.link-to-helper.photo-gallery'}}
      Great Hamster Photos
    {{/link-to}}
  </div>
  <div class="source">
    <code>
      \{{#link-to 'examples.link-to-helper.photo-gallery'}}
        Great Hamster Photos
      \{{/link-to}}
    </code>
  </div>
</div>


<h3 class="section-title">Links</h3>

<ul>
  <li>
    <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_link-to">
      Documentation
    </a>
  </li>
  <li>
    <a href="https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-routing-views/lib/components/link-to.js#L6">
      Source code
    </a>
  </li>
</ul>


{{outlet}}
