<h3 class="section-title">Textarea helper</h3>

<p>
  Ember's builtin helper for creating <code>textarea</code> DOM elements.
</p>

<h4>Examples</h4>

<div class="example">
  <h5>Textarea with a value</h5>
  <div class="output">
  <label>Textarea Label
    <Textarea @value="987" />
    </label>
  </div>
  <div class="source">
    <code>
      \{{textarea value="987"}}
    </code>
  </div>
</div>


<h3 class="section-title">Links</h3>

<ul>
  <li>
    <a href="http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_textarea">
      Documentation
    </a>
  </li>
  <li>
    <a href="https://github.com/emberjs/ember.js/blob/v2.5.0/packages/ember-htmlbars/lib/keywords/textarea.js">
      Source code
    </a>
  </li>
</ul>


{{outlet}}
