
<h3 class="section-title"><a href="https://github.com/stefanpenner/ember-moment" rel="external">Ember Moment</a></h3>
<div class="example">
	<div class="output">
		{{moment-from-now date interval=1000}}
	</div>
	<div class="source">
    <pre>
    \{{moment-from-now date interval=1000}}
    </pre>
  </div>
</div>