<h3 class="section-title"><a href="https://github.com/sir-dunxalot/ember-tooltips" rel="external">Ember Tooltips</a></h3>
<div class="example">
	<div class="output">
	{{#demo-text tooltipContent='This is the tooltip'}}
  	Hover over me!
	{{/demo-text}}

	</div>
	<div class="source">
		<pre><code>\{{#demo-text tooltipContent='This is the tooltip'}}
	Hover over me!
\{{/demo-text}}</code></pre>
	</div>
</div>