<h3 class="section-title"><a href="https://github.com/ciena-frost/ember-frost-core" rel="external">Ember Frost Core</a></h3>
<h4>Buttons</h4>
<p>primary
<br/>
{{frost-button
  priority='primary'
  size='small'
  text='Action'
}}
</p>
<p>secondary<br/>
{{frost-button
  priority='secondary'
  size='small'
  text='Action'
}}
</p>
<p>tertiary<br/>
{{frost-button
  priority='tertiary'
  size='small'
  text='Action'
}}
</p>
<h4>Checkbox</h4>
<p>basic with label
<br/>
{{frost-checkbox label='checkbox label'}}</p>


