<h3 class="section-title"><a href="https://github.com/IvyApp/ivy-tabs" rel="external">Ivy Tabs</a></h3>
<div class="example">
<div class="output">{{#ivy-tabs on-select=(action (mut selectedIndex)) selected-index=selectedIndex as |tabs|}}
  {{#tabs.tablist as |tablist|}}
    {{#tablist.tab}}One{{/tablist.tab}}
    {{#tablist.tab}}Two{{/tablist.tab}}
    {{#tablist.tab}}Three{{/tablist.tab}}
  {{/tabs.tablist}}

  {{#tabs.tabpanel}}
    <h2>One</h2>
    <p>Things that are better if there is only one of them:</p>
    <ol>
    <li>Darth Vader</li>
    <li>Santa</li>
    <li>The Government</li>
    <li>A Count who counts</li>
    <li>A partridge in a pear tree</li>
    <li>The Hulk</li>
    </ol>
  {{/tabs.tabpanel}}

  {{#tabs.tabpanel}}
    <h2>Two</h2>
    <p>Things that are better if there are two of them:</p>
    <ol>
	    <li>Socks</li>
    	<li>Mittens</li>
    	<li>Kittens</li>
    	<li>Twins</li>
    </ol>
  {{/tabs.tabpanel}}

  {{#tabs.tabpanel}}
    <h2>Three</h2>
    <p>Things that are better if there are three of them:</p>
    <ol>
	    <li>Directions for what to do if you are on fire</li>
	    <li>Minions- Bob, Stewart and Kevin were a pretty great team</li>
	    <li>Muskateers</li>
    </ol>
  {{/tabs.tabpanel}}
{{/ivy-tabs}}
</div>
<div class="source">
<pre>
<code>
\{{#ivy-tabs on-select=(action (mut selectedIndex)) selected-index=selectedIndex as |tabs|}}
  \{{#tabs.tablist as |tablist|}}
    \{{#tablist.tab}}One\{{/tablist.tab}}
    \{{#tablist.tab}}Two\{{/tablist.tab}}
    \{{#tablist.tab}}Three\{{/tablist.tab}}
  \{{/tabs.tablist}}

  \{{#tabs.tabpanel}}
    &lt;h2&gt;One&lt;&sol;h2&gt;
    ...
  \{{/tabs.tabpanel}}

  \{{#tabs.tabpanel}}
    &lt;h2&gt;Two&lt;&sol;h2&gt;
    ...
  \{{/tabs.tabpanel}}

  \{{#tabs.tabpanel}}
    &lt;h2&gt;Three&lt;&sol;h2&gt;
    ...
  \{{/tabs.tabpanel}}
\{{/ivy-tabs}}
</code>
</pre>
</div>
</div>