<h3 class="page-title">Liquid Fire</h3>
<p>Click on the image to watch the transition occur.</p>

<div class="demo-div">
	{{link-to 'Sample 1' 'addons.liquid-fire.sample1'}}
	<span class="vr" role="separator">|</span>
	{{link-to 'Sample 2' 'addons.liquid-fire.sample2'}}
	<hr/>
	<div class="demo-box">
		{{liquid-outlet}}
	</div>
</div>