<h3 class="section-title"><a href="http://www.ember-power-select.com/" rel="external">Power Select</a></h3>
<div class="example">
<h4>Without label:</h4>
<div class="output">
{{#power-select
  selected=destination
  options=cities
  onchange=(action "chooseDestination")
  as |name|
}}
  {{name}}
{{/power-select}}
</div>

<div class="source">
  <pre>
  \{{#power-select
    selected=destination
    options=cities
    onchange=(action "chooseDestination")
    as |name|
  }}
    \{{name}}
  \{{/power-select}}
  </pre>
</div>
</div>
<div class="example">
<h4>With label (typical use):</h4>
<div class="output">
<label>Choose Destination
{{#power-select
  selected=destination
  options=cities
  onchange=(action "chooseDestination")
  as |name|
}}
  {{name}}
{{/power-select}}
</label>
</div>
<div class="source">
  <pre>
  &lt;label&gt;Choose Destination
  \{{#power-select
    selected=destination
    options=cities
    onchange=(action "chooseDestination")
    as |name|
  }}
    \{{name}}
  \{{/power-select}}
  &lt;&sol;label&gt;
  </pre>
</div>
</div>
