*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, .main, footer {
	clear: both; 
	flex: 1 0 auto;
}
.main {
	min-height: 90vh;
}