.github-link {
  background-color: $medium-green;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: $black;
  display: block;
  clear: both;
  margin: 1em auto;
  max-width: 300px;
  font-weight: bold;
  padding: $narrow-padding;
  text-align: center;


  &:hover {
    background-color: $medium-green-hover;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    color: $black;
  }
}
