<div class="container">
  <div class="title">
    <h1>Ember Accessibility demo app</h1>
  </div>

  <div class="navigation">
    <ul>
      <li>{{link-to 'Home' 'index'}}</li>
      <li>{{link-to 'Input helper' 'examples.input-helper'}}</li>
      <li>{{link-to 'Textarea helper' 'examples.textarea-helper'}}</li>
    </ul>
  </div>

  <div class="content">
    {{focusing-outlet}}
  </div>
</div>
