<header>
<div class="container">
  <div class="title">
    <div class="brand-logo">
    <img alt="" role="presentation" src="assets/images/a11y-zoey.png" /> 
    </div>
    <h1>Ember Accessibility demo app</h1>
    <div class="brand-logo">
    <img alt="" role="presentation" src="assets/images/a11y-tomster.png" /> 
    </div>

  </div>
</div>
</header>
<div class="main">
<div class="grid-container">
  <ul class="navigation" role="navigation">
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><span class="nav-heading">Examples</span></li>
      <li><LinkTo @route="examples.aria-role">Aria-Role</LinkTo></li>
      <li><LinkTo @route="examples.input-helper">Inputs</LinkTo></li>
      <li><LinkTo @route="examples.link-to-helper">Link-to</LinkTo></li>
      <li><LinkTo @route="examples.textarea-helper">Textarea</LinkTo></li>
      <li><span class="nav-heading">Addons</span></li>
    </ul>

  <section class="content" role="main">
    {{outlet}}
  </section>
</div>
</div>

<footer class="contentinfo" role="contentinfo">
  <p class="contentinfo_copyright">
      <small><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">ember-a11y-demo</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. It was created with a little inspiration, love and hard work.</small>
  </p>
  <p class="contentinfo_social">
  </p>
</footer>
