<p>
  These are examples of common Ember interface patterns with the intention of
  making Ember available for testing with assitive technologies.
</p>

<p>
  If you have examples that you would like to make to this app please make
  a pull request in Github
</p>

<p>
  <a href="https://github.com/ember-a11y/a11y-demo-app">
    Project Github page
  </a>
</p>

<p>
  If you're an AT provider we would love to have a conversation with you about
  how to make each of these experiences stellar.
</p>

<p>
  You can find us in
  <a href="https://embercommunity.slack.com/archives/topic-a11y">#topic-a11y</a>
  in the
  <a href="https://ember-community-slackin.herokuapp.com/">Ember.js community Slack</a>.
  Alternatively, you can message
  <a href="https://twitter.com/melaniersumner">@melaniersumner</a>,
  <a href="https://twitter.com/binhums">@binhums</a> or
  <a href="https://twitter.com/nathanhammond">@nathanhammond</a>
  on twitter.
</p>
