<p>
  This site exists to demonstrate examples of common Ember interface patterns. Our goal is to help make 
  Ember easily testable for use with assitive technologies.
</p>

<p>
  If you have examples that you would like to contribute to this app, we would love to have your participation!
  Please submit a pull request through the Github repo.
</p>

<p class="container">
  <a href="https://github.com/ember-a11y/a11y-demo-app" class="github-link">
    Project Github page
  </a>
</p>

<p>
  Are you an Assistive Technologies(AT) provider? We would love to have a conversation with you about
  how to make each of these experiences a delight for those who would use them. 
</p>

<h3 class="section-title">Where you can find us</h3>
<p>
  You can find us in
  <a href="https://embercommunity.slack.com/archives/topic-a11y">#topic-a11y</a>
  in the
  <a href="https://ember-community-slackin.herokuapp.com/">Ember.js community Slack</a>.
  Alternatively, you can message
  <a href="https://twitter.com/melaniersumner">@melaniersumner</a>,
  <a href="https://twitter.com/binhums">@binhums</a> or
  <a href="https://twitter.com/nathanhammond">@nathanhammond</a>
  on twitter.
</p>
